.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 1;
}

.input-label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-field {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 0.9; 
}